{% extends "base.html" %} 
{% load static %} 

{% block title %} Resources {% endblock %} 

{% block content %}
<div class="container mt-5">
	<h1 class="text-center">Get Support Now</h1>
	<p class="text-center">
		We understand that cancer can be a difficult journey. We are here to help
		you every step of the way. Below are some resources that can help you get
		the support you need.
	</p>
    <div class="row margin-bottom">
        <div class="col">
            <h2>Related videos</h2>
            {% if videos %}
                <div class="">
                    {% for video in videos %}
                    <a class="reset-anchor" href="https://www.youtube.com/watch?v={{ video.id.videoId }}" target="_blank">
                        <div class="card mb-3">
                            <img class="card-img-top" src="{{ video.snippet.thumbnails.high.url }}" alt="{{ video.snippet.title }}">
                            <div class="card-body">
                                <h5 class="card-title reset-anchor">{{ video.snippet.title }}</h5>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            {% else %}
                <p>No videos found.</p>
            {% endif %}
        </div>
        <div class="col">
            <h2>Support Groups</h2>
        </div>
    </div>
</div>
{% endblock %}
