* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	transition: 0.3s all ease-in-out;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #fff;
}

.shadow-wrap {
	border-radius: 5px;
	padding: 25px;
	background-color: #f0f2fb;
}

.form-wrap {
	background-color: #fff;
	padding: 70px;
}

.form-wrap form * {
	display: block;
	width: 100%;
}
.form-wrap form label {
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
}
.form-wrap form input {
	padding: 12px 20px;
	border-radius: 5px;
	border: 1px solid #dae1f5;
	background: #fff;
	color: #545d7a;
}
#id_username {
	margin-bottom: 20px;
}
.form-wrap button {
	border-radius: 5px;
	background: #10182f;
	color: #fff;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	padding: 12px 68px;
	font-weight: 700;
	border: 1px solid transparent;
	margin-top: 30px;
	line-height: 26px;
}

.form-wrap button:hover {
  background-color: #fff;
  color: #10182f;
  border-color: #10182f;
}

.signup-link {
	color: #10182f;
	font-size: 15px;
	margin-top: 20px;
	text-align: center;
	line-height: 25px;
	display: block;
	text-decoration: none;
}

.signup-link:hover {
	text-decoration: underline;
}
.form-wrap button:hover {
	background-color: #fff;
	color: #10182f;
	border-color: #10182f;
}

.navbar a {
	font-family: "Montserrat", sans-serif !important;
	color: #ffffff;
}
.navbar {
	background-color: #add8e6 !important;
}

.small-input {
	width: 50%;
	font-size: 12px;
}
.sidebar {
	height: 100%;
	width: 50px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #add8e6;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	white-space: nowrap;
}

.sidebar a {
	padding: 8px 8px 8px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #f1f1f1;
	display: block;
	transition: 0.2s;
}

.sidebar a .icon-text {
	display: none; /* Hide text initially */
}

.sidebar:hover a .icon-text {
	display: inline-block; /* Show text on hover */
}

.sidebar a:hover {
	color: rgb(175, 174, 184);
}

.material-icons,
.icon-text {
	vertical-align: middle;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.material-icons {
	padding-bottom: 3px;
	margin-right: 30px;
}

.sidebar:hover #main {
	margin-left: 250px;
}

#main {
	transition: margin-left 0.5s;
	padding: 16px;
	margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px;
	}
}

/* Content styles */
.content {
	margin-left: 0;
	padding: 20px;
	width: 100%;
	transition: margin-left 0.5s;
}

.bg-lightblue {
	background-color: #add8e6 !important;
}

.footer .btn-primary {
	background-color: #007bff;
	border-color: #007bff;
}

.footer-custom {
	height: 100px;
}

/* Styling for the Google Login Button */
.btn-google {
	display: inline-flex;
	align-items: center;
	background-color: #4285f4;
	color: white;
	border: 2px solid #4285f4;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	transition: background-color 0.3s, border-color 0.3s;
	margin-top: 10px; /* Adjust this value to bring the button down */
}

.btn-google:hover {
	background-color: white;
	color: #4285f4;
	border-color: #357ae8;
}

.btn-google img {
	margin-right: 10px;
}

.reset-anchor {
	text-decoration: none !important;
	color: inherit !important;
	border: none;
	padding: 0;
	margin: 0;
	background: none;
}

.margin-bottom {
	margin-bottom: 150px;
}

.about-img {
    width: 480px;
    height: 250px; 
    object-fit: cover; 
    display: block;
    margin: 0 auto; 
}

.video-thumbnail-img {
    width: auto;
    height: 200px;
    object-fit: cover;
}