<!-- templates/registration/login.html -->
{% extends "base.html" %}
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>


{% block title %}Login{% endblock %}

{% block content %}
<body class="login">
  <div class="shadow-wrap">
  <div class="form-wrap">
    <h3>Login </h3>
  <form method="POST">
  {% csrf_token %}
  {{form}}
  <button type="submit">Submit</button>
  </form>
  <a class="signup-link" href="{% url 'signup' %}">Signup</a>
  <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
  <a class="btn btn-google" href="{% url 'google_login' %}">
    <img src="{% static 'images/google-logo.png' %}" alt="Google Logo" width="20" height="20" class="me-2" />
    Login with Google
  </a>

  </div>
  </div>
</body>
{% endblock content %}