{% extends "base.html" %}
{% load static %}

{% block title %}Welcome to CodeAgainstCancer{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<html>
<head>
    <title>Welcome to CodeAgainstCancer</title>
</head>
<body class="login">
    <div class="shadow-wrap">
        <div class="form-wrap">
            <h3>Login</h3>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Submit</button>
            </form>
            <a class="signup-link" href="{% url 'signup' %}">Signup</a>
        </div>
    </div>
</body>
</html>
{% endblock content %}
