{% extends "base.html" %} 
{% load static %} 

{% block title %} About us {% endblock %} 

{% block content %}
<div class="container mt-5">
	<h1 class="text-center">About CodeAgainstCancer</h1>
	<p class="text-center">
        CodeAgainstCancer is a non-profit organization that aims to help cancer patients and their families by providing them 
        with the resources they need to fight cancer. We understand that cancer can be a difficult journey. We are here to help 
        you every step of the way. Below are some resources that can help you get the support you need.
	</p>
    <div class="container margin-bottom">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-center">Our Mission</h2>
                <p>
                    Our mission is to help cancer patients and their families by providing them with the resources they need to fight cancer.
                </p>
            </div>
            <div class="col d-flex justify-content-center align-items-center flex-column">
                <img width="300" height="150" src="https://images.pexels.com/photos/7659688/pexels-photo-7659688.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Our Mission" class="about-img">
            </div>
        </div>
    </br>
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center flex-column">
                <img width="300" height="150" src="https://images.pexels.com/photos/6798885/pexels-photo-6798885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Our Vision" class="about-img">
            </div>
            <div class="col d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-center">Our Vision</h2>
                <p>
                    Our vision is to create a world where cancer is no longer a life-threatening disease.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
