{% extends "base.html" %}
{% block content %}
<div class="m-auto w-[50%] m-auto border rounded-lg">
    <h1 class="text-center bg-gray-100 h-[52px] font-bold text-3xl">Third-Party Login Failure</h1>

    <h2 class="text-center my-3">An error occurred while attempting to login via your third-party account.</h2>
    
    <div class="flex justify-center mx-3">
        <a href="{% url 'account_login' %}" class="bg-red-200 my-3 rounded-lg w-[100%] p-2 text-center">Return to Sign In</a>
    </div>
</div>
{% endblock %}